@model WebSpecialProject.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="../Preferences/1fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../Preferences/1css/style.css">
</head>
<body>
    <h1> clgt: @ViewBag.inform</h1>
    <div class="main">
        
        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form" action="~/Home/Register">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="hoten" id="name" placeholder="Your Name" />
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="tentaikhoan" id="name" placeholder="Your Name Account" />
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" />
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="matkhau" id="pass" placeholder="Password" />
                            </div>
                             <input type="text" placeholder="Địa Chỉ" name="diachi" />
                             <input type="text" placeholder="SDT" name="sdt" />
                            <!--
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="matkhau" id="re_pass" placeholder="Repeat your password" />
                            </div>
                                -->
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="../Preferences/1images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="/Login/Login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

        <script src="../Preferences/1vendor/jquery/jquery.min.js"></script>
        <script src="../Preferences/1js/main.js"></script>









        <hr /> <hr /> <hr /> <hr /> <hr /> <hr /> <hr /> <hr />
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
</body>
</html>
